* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	color: #333;
	line-height: 1.5;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	background: linear-gradient(to top left, #28b487, #7dd56f);
}
/* Buttons */
.show-model {
	background-color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 160px;
	font-size: 20px;
	margin: 10px 20px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.model {
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	width: 70%;
	z-index: 10;
}
h1 {
	font-size: 25px;
}
p {
	font-size: 17px;
}
.closebtn {
	position: absolute;
	font-size: 25px;
	top: 5px;
	right: 20px;
	cursor: pointer;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}
